.list_style
    display: flex
    flex-direction: column
    gap: 10px
    margin: auto
    h1
        text-align: center
.grid_style
    display: grid
    width: 80%
    grid-template-columns: repeat(auto-fit,minmax(380px,max-content))
    margin: auto
    gap: 20px
