.body_div_style
    display: flex
    // border: 1px solid red
    width: 80%
    justify-content: flex-start
    align-items: center

    // line-height: 5px
    h4
        width: 25%
        padding: 0px
        margin: 3px
    p:last-child
        width: 75%
        padding: 0px
        margin: 3px
